.deleteBtn {
    color: white;
    cursor: pointer;
    cursor: hand;
}

.completeBtn {
    color: white;
    cursor: pointer;
    cursor: hand;
    }

.gray {
    background: gray
}

.red {
    background: red;
}

.green {
    background: green;
}
